html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 140px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  padding: 33px 0;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: url(/static/img/fractal-banner.png) no-repeat center center;
  background-size: cover;
}

.trylisphead {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 0 70px;
  background: url(/static/img/fractal-splash.png) no-repeat top center;
  background-size: cover;
  margin-bottom: 0;
  background-color: #9933FF;
  color: #fff;
  height: 100%;
}

.trylisphead:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/static/img/pattern.png) repeat center center;
  opacity: .4;
  height: 100%;
}
.trylisphead .container {
  position: relative;
  z-index: 2;
  text-align: left;
}

.trylisphead h1 small {
  color: #c0c0c0;
}

#trylispbody {
  text-align: left;
  display: block;
  position: relative;
  text-shadow: none;
  background: white;
  color: black;
  opacity: .82;
  border: 1px solid white;
  border-radius: 4px;
  min-height: 531px;
}

#trylispbody p {
  opacity: 1;
  font-size: 14px;
}

#trylispbody p.lead {
  font-size: 18px;
  margin-top: 10px;
}

.masthead {
  padding: 60px 0 70px;
  background: url(/static/img/fractal-splash.png) no-repeat top center;
  background-size: cover;
  margin-bottom: 0;
  background-color: #9933FF;
  color: #FFFFFF;
  height: auto;
}

.masthead:after {
  content: '';
  display: block;
  position: absolute;
  /*top: 50px;*/top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/static/img/pattern.png) repeat center center;
  opacity: .4;
  height: 100%;
}

.masthead .container {
  position: relative;
  z-index: 2;
}

.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}

.masthead pre {
  background-color: rgba(0,0,0,.75);
  color: #c0c0c0;
  border: 1px solid black;
  text-align: left;
}

.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

.masthead-links {
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
  color: #000;
  text-align: center;
}

.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(0,0,0,.75);
}

.masthead-links li a {
  color: #000;
}

@media (min-width: 320px) {
  .masthead {
    height: auto;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
  }
  .masthead .container {
    position: relative;
    z-index: 2;
  }
  .masthead h1 {
    font-size: 60px;
  }
  .masthead p {
    font-size: 24px;
  }
  .masthead .btn {
    width: 100%;
    margin-top: 10px;
  }
  .masthead .btn-lg {
    font-size: 14px;
  }
  .masthead pre {
    font-size: 10px;
  }
  .masthead-links {
    margin: 0;
  }
  .masthead-links li {
    padding: 0;
  }
  .trylisphead {
    position: relative;
    height: auto;
  }
}

@media (min-width: 768px) {
  .masthead {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
  }
  .masthead h1 {
    font-size: 60px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .lead {
    font-size: 24px;
  }
  .masthead pre {
    font-size: 11px;
  }
  .masthead .btn {
    height: auto;
    width: 100%;
  }
  .masthead .btn-lg {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: auto;
  }
  .masthead h1 {
    font-size: 120px;
  }
  .masthead .lead {
    font-size: 40px;
  }
  .masthead p {
    font-size: 30px;
  }
  .masthead pre {
    font-size: 13px;
  }
  .masthead .btn {
    width: auto;
  }
  .masthead .btn-lg {
    font-size: 18px;
  }
  .masthead-links li {
    padding: 0 10px;
  }
}

.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.subhead:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/static/img/pattern.png) repeat center center;
  opacity: .4;
}

.subhead .container {
  position: relative;
  z-index: 2;
}

.subhead h1 {
  font-size: 60px;
}
.subhead h1 small {
  color: #e5e5e5;
}
.subhead p {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .subhead {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .subhead h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .subhead h1, .subhead p {
    margin-right: 380px;
  }
}

.social-banner {
  padding: 15px 0;
  text-align: center;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.social-banner-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-banner-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}

.social-banner-buttons a:hover {
  text-decoration: none;
}

.sidebar.affix {
    position: static
}

@media (min-width:768px) {
    .sidebar {
        padding-left: 20px
    }
}

.sidenav {
    margin-top: 0px;
    margin-bottom: 0px
}

.sidebar .nav>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px
}

.sidebar .nav>li>a:hover,.sidebar .nav>li>a:focus {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c
}

.sidebar .nav>.active>a,.sidebar .nav>.active:hover>a,.sidebar .nav>.active:focus>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c
}

.sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.sidebar .nav .nav>li>a:hover,.sidebar .nav .nav>li>a:focus {
    padding-left: 29px
}

.sidebar .nav .nav>.active>a,.sidebar .nav .nav>.active:hover>a,.sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
    padding-left: 28px
}

@media (min-width:992px) {
    .sidebar .nav>.active>ul {
        display: block
    }

    .sidebar.affix,.sidebar.affix-bottom {
        width: 213px
    }

    .sidebar.affix {
        position: fixed;
        top: 70px
    }

    .sidebar.affix-bottom {
        position: absolute
    }

    .sidebar.affix-bottom .sidenav,.sidebar.affix .sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width:1200px) {
    .sidebar.affix-bottom,.sidebar.affix {
        width: 263px
    }
}

#llthwdoc h1,
#llthwdoc h2,
#llthwdoc h3,
#llthwdoc h4,
#llthwdoc h5,
#llthwdoc h6 {
  line-height: 1.5;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

#console {
  position: relative;
  display: block;
  background-color: transparent;
  font-size: 16px;
  font-family: Courier;
  text-align: left;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 533px;
  max-height: 900px;
}

#console pre {
  background-color: rgba(0,0,0,.75);
  border: 1px solid black;
}

.parents {
    font-weight: bold;
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: White;
}
/* The command history */
.jqconsole-old-prompt {
    color: White;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: White;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: White;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: green;
}
.jqconsole-return, .jqconsole-header {
    color: gray;
}
.jqconsole-error {
    color: red;
}

/* Styles for COLORIZE package source-code */
.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
a.symbol:link { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:visited { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:hover { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #006600; background-color : inherit; }
.atom { color : #314F4F; background-color : inherit; }
.macro { color : #FF5000; background-color : inherit; }
.variable { color : #36648B; background-color : inherit; }
.function { color : #8B4789; background-color : inherit; }
.attribute { color : #FF5000; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
.diff-deleted { color : #5F2121; background-color : inherit; }
.diff-added { color : #215F21; background-color : inherit; }
span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren1:hover { color : #333; background-color : rgba(186,255,255,.5); }*/
span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren2:hover { color : #333; background-color : rgba(255,202,202,.5); }*/
span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren3:hover { color : #333; background-color : rgba(255,255,186,.5); }*/
span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren4:hover { color : #333; background-color : rgba(202,202,255,.5); }*/
span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren5:hover { color : #333; background-color : rgba(202,255,202,.5); }*/
span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
/*span.paren6:hover { color : #333; background-color : rgba(255,186,255,.5); }*/
